.header {
     display: flex;
     background-color: $color__purple;
     height: 5em;
}

body {
     background-color: $color__background;
}

h1 {
     margin: 2vh;
     font-weight: bold;
}

.para {
     font-size: 1.25rem;
     font-weight: bold;
}