.nav {
     margin-right: auto;
     .menu {
          @include listreset;
          display: flex;
          &-item {
               margin-right: 0.5rem;
               &-link {
                    color: $color__blue;
                    text-decoration: none;
                    padding: 0.5em 1em;
                    display: block;
                    font-family: $font__heading;
                    &:hover{
                         background-color: lighten($color__grey, 5%);
                    }
               }
          }
     }
}